
.postedby-profile-details{
    display: flex;
}

.postedby-profile-details p{
    margin-top: 25px;
    padding-left: 20px;
}


.postedby-user-image{
    height: 60px;
    width: 60px;
    background-color: orangered;
    border-radius: 90px;
    margin-top: 20px;

}

.postedby-user-image h6{
    text-align: center;
    line-height: 60px;
    color: white;
    font-weight: bold;
}


/* load more button design to load more posts by the same user */
.load-teach-stack-button{
    background-color: orangered;
    width: 50%;
    padding: 10px;
    color: white;
    text-align: center;
    justify-content: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .load-teach-stack-button:hover{

    background-color: purple;
    border: 2px solid black;
    transition-duration: 1s;

  }