.related-post-card {
  margin: 10px;
  border-radius: 10px;

  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
}

.related-post-image img {
  height: 150px;
  width: 210px;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .related-post-image img {
    width: 100%;
  }
  .post-info {
    margin-top: 15px;
  }
}

.post-info {
  margin-left: 10px;
  padding-top: 10px;
}

.post-user-info {
  display: flex;
}

.profile-pic-post-user {
  height: 40px;
  width: 40px;
  border-radius: 90px;
  background-color: red;
}

.profile-pic-post-user h6 {
  text-align: center;
  line-height: 40px;
  color: white;
}

.posted-by-username {
 
  padding-left: 10px;
}
